
# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/captures/
android/.gradle/
android/local.properties
android/.idea/caches/
android/.idea/libraries/
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/app/src/main/assets/index.android.bundle
android/app/build/outputs/apk/*.apk
android/app/build/outputs/bundle/*.aab

# iOS
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/ rivest-app.xcscheme # Replace with your app name
*.xcuserdatad

# MacOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Misc
.idea/
*.sublime-project
*.sublime-workspace
coverage/
web-build/
app.json.BAK
